.main-container {
  margin-top: 20px;
  width: 100%;
  background-color: #f1f3f8;
  height: 100%;
  border-radius: 20px;
  height: 80vh;
  .center-container {
    padding-top: 60px;
  }
}

.form-container {
  width: 60%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  font-family: Arial;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  h1 {
    text-align: center;
  }
  .double-input-container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 20px;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    input {
      margin-left: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .input-error {
      border: 1px solid red;
    }
    label {
      margin-left: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
  .button-container {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    button {
      margin-left: 20px;
      margin-right: 20px;
      width: 20%;
      padding: 20px;
      border-style: solid;
      font-weight: bold;
      font-size: 18px;
    }
    .send {
      background-color: #fed70c;
    }
  }
}

//Error CSS
.alert {
  color: red;
  margin-left: 20px;
  margin-top: 10px;
}
